<style>
    .tableContainer, td, th{
        border: solid 2px black;
    }
</style>

<div>
    <h2><%- title %></h2>

    <table class="tableContainer">
        <tr>
            <% if(students[0]){Object.keys(students[0]).forEach(header => { %>
                <th><%= header %></th>
            <% })}; %>
        </tr>
        <% students.forEach(student => { %>
            <tr>
                <td><%= student.id %></td>
                <td><a href="http://localhost:9000/students/<%= student.id %>"><p><%= student.fName %></p></a></td>
                <td><a href="http://localhost:9000/students/<%= student.id %>"><p><%= student.lName %></p></a></td>
                <td><%= student.town %></td>
            </tr>
        <% }); %>
    </table>
   
</div>
