<style>
    .tableContainer, td, th{
        border: solid 2px black;
    }
</style>

<% if(studentInfo){ %>
    <div>
        <table class="tableContainer">
            <tr>
                <% if(studentInfo[0]){Object.keys(studentInfo[0]).forEach(header => { %>
                    <th><%= header %></th>
                <% })}; %>
            </tr>
            <% studentInfo.forEach(student => { %>
                <tr>
                    <td><%= student.id%></td>
                    <td><%= student.fName %></td>
                    <td><%= student.lName %></td>
                    <td><%= student.name %></td>
                </tr>
            <% }); %>
        </table>
    </div>

<% }else{ %>
    <div><p>Student does not take any courses, please view student list</p></div>
<% } %>