<div>
    <h2><%- title %></h2>
    <% relationships.forEach(relationship => { %>
        <a href="http://localhost:9000/students/<%= relationship.id %>"><p><%= relationship.firstName %> <%= relationship.lastName %></p></a>
        <p><b><%= relationship.name %></b></p>
    <% }); %>
</div>