<style>
    .tableContainer, td, th{
        border: solid 2px black;
    }
</style>

<div>
    <table class="tableContainer">
        <tr>
            <% if(studentInfo[0]){Object.keys(studentInfo[0]).forEach(header => { %>
                <th><%= header %></th>
            <% })}; %>
        </tr>
        <tr>
            <td><%= studentInfo[0].id %></td>
            <td><%= studentInfo[0].fName %></td>
            <td><%= studentInfo[0].lName %></td>
            <% if(studentInfo[0].town){ %>
                <td><%= studentInfo[0].town %></td>
            <% }else{ %>
                <% studentInfo.forEach(student => { %>
                    <td><%= student.name %></td>  
                <% }); %>
            <% } %>
        </tr>
    </table>
</div>